@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    max-width: 1500px;
    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.table {
    border-spacing: 0 15px;
}

i {
    font-size: 1rem !important;
}

.table tr {
    border-radius: 20px;
}

tr td:nth-child(n + 6),
tr th:nth-child(n + 6) {
    border-radius: 0 0.625rem 0.625rem 0;
}

.token-balances td:nth-child(n + 4),
.token-balances th:nth-child(n + 4) {
    border-radius: 0 0.625rem 0.625rem 0;
}

.erc721-txns td:nth-child(n + 6),
.erc721-txns th:nth-child(n + 6) {
    border-radius: 0 !important;
}
.erc721-txns td:nth-child(n + 7),
.erc721-txns th:nth-child(n + 7) {
    border-radius: 0 0.625rem 0.625rem 0 !important;
}

.erc1155-txns td:nth-child(n + 6),
.erc1155-txns th:nth-child(n + 6) {
    border-radius: 0 !important;
}
.erc1155-txns td:nth-child(n + 8),
.erc1155-txns th:nth-child(n + 8) {
    border-radius: 0 0.625rem 0.625rem 0 !important;
}

.nft-balances td:nth-child(n + 6),
.nft-balances th:nth-child(n + 6) {
    border-radius: 0 !important;
}
.nft-balances td:nth-child(n + 7),
.nft-balances th:nth-child(n + 7) {
    border-radius: 0 0.625rem 0.625rem 0 !important;
}

tr td:nth-child(1),
tr th:nth-child(1) {
    border-radius: 0.625rem 0 0 0.625rem;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #fa6e48;
    border-color: #fa6e48;
}
